{% load grapesjs_tags %}

<select id="select-{{ widget.attrs.id }}" onchange="getSource(this, '{{ widget.apply_django_tag }}', '{{ widget.attrs.id }}')">
   {% for data_tuple in widget.template_choices %}
   <option value="{{ data_tuple.0 }}">{{ data_tuple.1 }}</option>
   {% endfor %}
</select>

<textarea hidden name="{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %}>
{% if widget.value %}{{ widget.value }}{% else %}<div>{{ widget.get_render_html_value }}</div>{% endif %}</textarea>
<div hidden name='get-all-id'>{{ widget.attrs.id }}</div>
<div id="gjs-{{ widget.attrs.id }}"></div>

{% include widget.html_name_init_conf %}

<script type="text/javascript">
$(window).on('load', function() {

    this["initData" + "{{ widget.attrs.id }}"]['container'] = '#gjs-{{ widget.attrs.id }}';
    var editor_{{ widget.attrs.id }} = grapesjs.init(this["initData" + "{{ widget.attrs.id }}"]);
    if ({% get_settings_value "GRAPESJS_DEFAULT_MODELS_DATA" True %}) {
            try {
                    editor_{{ widget.attrs.id }}.setComponents(
                            replaceTag(
                                    normalizeData(document.getElementById("{{ widget.attrs.id }}").value, false),
                                    replaceTagsInit
                                )
                            )
                        } catch (e) {
                                editor_{{ widget.attrs.id }}.setComponents(
                                        "Error in the template: <br>name: " + e.name + "<br>message: " + e.message + "<br>"
                                    )
                                }
                            }
})

</script>


{% load static grapesjs_tags %}

<script>
    var replaceTagsInit = [
        {% get_settings_value "REPLACE_INIT_IGNORE_TAGS" safe=True %},
        {% get_settings_value "REPLACE_INIT_HIDDEN_TAGS" safe=True %}
    ]
    var replaceTagsSave = [
        {% get_settings_value "REPLACE_SAVE_IGNORE_TAGS" safe=True %},
        {% get_settings_value "REPLACE_SAVE_HIDDEN_TAGS" safe=True %}
    ]

    function normalizeData(value, save) {
        /**
        * I add this tag because grapesjs works only with markup.
        * If in your resource only a django tags or jinja this will help you avoid mistakes
        */
        stringBegin = '<div temporary="">';
        stringEnd = '</div label>';

        if (save) {
            return value.replace(stringBegin, '').replace(stringEnd, '')
        }
        else {
            return stringBegin + value + stringEnd
        }
    }

    function replaceTag(value, replaceTagsArray) {
        for (var i=0; i<replaceTagsArray.length; i++) {
            for (var tag in replaceTagsArray[i]) {
                if (replaceTagsArray[i].hasOwnProperty(tag)) {
                    value = value.replace(new RegExp(tag, 'g'), replaceTagsArray[i][tag]);
                }
            }
        }
        return value;
    }
</script>

<script>
    function getCssGrapesjs(value, css) {
        regexStyle = /(<style grapesjs type=.+)((\s+)|(\S+)|(\r+)|(\n+))(.+)((\s+)|(\S+)|(\r+)|(\n+))(<\/style>)/g;
        return value.replace(regexStyle, "") + "<style grapesjs type=\"text/css\">" + css + "</style>";
    }

    function setHtmlInTheField() {
        all_id = document.getElementsByName("get-all-id");

        for (i=0; i<all_id.length; i++){
            field = document.getElementById(all_id[i].textContent);

            htmlGrapesjs = replaceTag(
                this["editor_" + all_id[i].textContent].getHtml(),
                replaceTagsSave
            );

            if ({% get_settings_value "GRAPESJS_SAVE_CSS" %}) {
                htmlGrapesjs = getCssGrapesjs(
                    htmlGrapesjs, this["editor_" + all_id[i].textContent].getCss()
                )
            }

            field.value = normalizeData(htmlGrapesjs, true);
        }
    }

    function getSource(t, applyDjangoTag, postfixId) {
        elementBlock = document.getElementById("gjs-" + postfixId).children[0];
        elementBlock.setAttribute(
            "style",
            "pointer-events: none; background:#0000; z-index:100; opacity:0.4; filter:alpha(opacity=50)"
        );
        editor = this["editor_"+ postfixId];
        django.jQuery.ajax({
            url: "{% url 'dgjs_get_template' %}",
            data: {
                "template_name": t.value,
                "apply_django_tag": applyDjangoTag
            },

            success: function(data){
                editor.setComponents(
                    replaceTag(
                        normalizeData(data),
                        replaceTagsInit
                    )
                );
                elementBlock.removeAttribute('style')
            }
        });
    }

    (function($) {
        $('input[name="_save"]').on('click', function() {
            setHtmlInTheField()
        });
        $('input[name="_continue"]').on('click', function() {
            setHtmlInTheField()
        });
        $('input[name="_addanother"]').on('click', function() {
            setHtmlInTheField()
        });
    })(jQuery);
</script>
